
body {
  background:white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
}

.App {
  height: 400px;
  width: 300px;
  background:white;
  position: relative;
}



.Display {
  background:black;
  color:fuchsia;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 29px;
  box-sizing: border-box;
  height: 20%;
  overflow: hidden;
  font-size: 24px;
  position: relative;
}

.Buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 80%;
}

.Button {
  background:pink;
  
  display: flex;
  box-sizing: border-box;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: 24px;
  color:black;
  height: 20%;
  min-width: 25%;
}

 .Button[data-size="2"] {
  height: 40%;
} 

.Button[data-value="null"] {
  pointer-events: none;
}

.Button:hover {
  background:lightsalmon;
  cursor: pointer;
}

.Button:active {
  background:lightsalmon;
}
